@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Heebo', sans-serif;
	box-sizing:border-box;
}
body{
	font-family: 'Heebo', sans-serif;
	margin: 0px auto;
}
img{
	max-width: 100%;
}
.full-container{
	display: block;
	padding:0px 15px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	
}
.container{
	max-width: 1200px;
	margin: 0px auto;
}
.container-wide{
	max-width: 1500px;
	margin: 0px auto;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.row{
	display: block;
	margin:0px -15px;
}
.row::after{
	content: ' ';
	display: block;
	clear: both;
	
}
[class*="col-"] {
  float: left;
  padding:0px 15px;
  width:100%;
}
.btn-blue,a.btn-blue,input.btn-blue,button.btn-blue{
	text-align:center;
	border:0;
	background-color: #01356a;
	color:#fff !important;
	font-size:17px;
	text-decoration:none;
	cursor:pointer;
	outline:0;
	padding:10px 32px;
	border-radius:100px;
	display: inline-block;
	height: auto;
}
.btn-blue:hover,a.btn-blue:hover,input.btn-blue:hover,button.btn-blue:hover{
	background-color:#fe7903;
}
.btn-blue-border,a.btn-blue-border,input.btn-blue-border,button.btn-blue-border{
	text-align:center;
	border:1px solid #01356a;
	color:#282828;
	font-size:17px;
	text-decoration:none;
	cursor:pointer;
	outline:0;
	padding:10px 32px;
	border-radius:100px;
	display: inline-block;
	height: auto;
}
.btn-blue-border:hover,a.btn-blue-border:hover,input.btn-blue-border:hover,button.btn-blue-border:hover{
	background-color:#fe7903;
	color:#fff !important;
	border:1px solid #fe7903;
}
.section-padding{
	padding:90px 0px;
}
.section-padding-top{
	 padding-top:90px;
}
.section-padding-bottom{
	 padding-bottom:90px;
}
.section-heading {
	text-align:center;
	position:relative;
	display:block;
	margin-bottom:30px;
}
.section-heading::after{
	content:' ';
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../images/cmmon-heading.png);
	height:48px;
	display:block;
}
.section-heading h3{
	font-size:45px;
	color:#01356a;
	font-weight:500;
	line-height:55px;
}
.section-heading h3 span{
	color:#ff7901;
}
.text-box{
	display:block;
}
.text-box h3{
	font-size:35px;
	color:#01356a;
	font-weight:500;
	line-height:45px;
	margin-bottom:20px;
}
.text-box p{
	font-size:17px;
	color:#575757;
	font-weight:400;
	line-height:30px;
	margin-bottom:20px;
}
.orange-petten-right-top{
	background-image:url(../images/orange-petten.png);
	background-repeat:no-repeat;
	background-position:right 0px;
}
.orange-petten-left-top{
	background-image:url(../images/orange-petten.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}
.orange-blue-left-top{
	background-image:url(../images/blue-petten.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}

/************Top Header*****************************/
.top-header{
	display:block;
	position:relative;
	background-color:#01356a;
	padding:10px 0px;
	z-index:100;
}
.top-header p{
	color:#fff;
	font-size:22px;
}
ul.top-social-media{
	display:block;
	text-align:right;
	list-style:none;
	position:relative;
	top:3px;
}
ul.top-social-media li{
	display:inline-block;
	vertical-align:middle;
	padding-left:15px;
}
ul.top-social-media li span{
	position:relative;
	display:block;
	transition:transform .3s;
	
}
ul.top-social-media li span:hover{
	transform:scale(1.1);
}
span.top-linkdin-icon{
	background-image:url(../images/top-linkdin.png);
	width:19px;
	height:20px;
}
span.top-youtube-icon{
	background-image:url(../images/top-yt.png);
	width:26px;
	height:20px;
}
span.top-facebook-icon{
	background-image:url(../images/facebook.png);
	width:12px;
	height:20px;
}
span.top-instagram-icon{
	background-image:url(../images/top-ins.png);
	width:20px;
	height:20px;
}
/****************************Main Header*****************************/
.main-header{
	box-shadow:0px 0px 5px #ccc;
	position:relative;
	z-index:100;
}
.logo-area,.menu-area{
	position:relative;
}
.logo-area{
	float:left;
	padding:10px 0px;
}
.menu-area{
	float:right;
	
}
.menu-area ul{
	list-style:none;
	display:block;
}
.menu-area ul li{
	display:inline-block;
	padding:33px 0px ;
	padding-left:28px;
	position:relative;
}
.menu-area ul li:last-child{
	padding-left:10px;
}
.menu-area ul li a{
	color:#282828;
	font-size:17px;
	text-decoration:none;
}
.menu-area ul li a:hover,.menu-area ul li.active a{
	color:#ff9a4b;;
}
.menu-area ul ul{
	display:none;
	position:absolute;
	background-color:#fff;
	box-shadow:0px 0px 5px #ccc;
	width:180px;
	top: 80px;
}
.menu-area ul li:hover>ul{
	display:block;
	
}
.menu-area ul ul li:last-child{
	padding-left:inherit;
}
.menu-area ul ul li{
	display:block;
	padding:0px;
}
.menu-area ul ul li a{
	font-size: 15px;
    padding: 5px 10px;
    display: block;
}
.toggle-menu {
 display: none;
    cursor: pointer;
    position: relative;
    top: 9px;
    right: 15px;
    float: right;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*****************************banner-container****************************/
.home-page-bannner{
	background-color:#f6f6f6;
	display:block;
	padding:60px 0px; 
}
.banner-container{
	display:block;
	padding:20px 0px;
	
}
.banner-left,.banner-right{
	display:inline-block;
	max-width:49%;
	vertical-align:middle;
}
.banner-left h3
{
	color:#003466;
	font-size:45px;
	font-weight:normal;
	line-height:55px;
	border-left:6px solid #ff7901;
	padding:20px 0px;
	padding-left:15px;
	position:relative;
}
.banner-left h3::after{
	content:' ';	
	position:absolute;
	width:6px;
	height:80%;
	left:-6px;
	top:10%;
	
	z-index:1;
	background-color:#003466;
}
.banner-left h3 strong{
	color:#ff7901;
}
.banner-right{
	transform:scale(1.3)
}
.banner-left .btn-blue{
	margin-left:15px;
}
/*****************welcome-section*********************/
.welcome-section{
	position: relative;
    background-image: url(../images/patter-re.png);
    background-position: top;
    background-color: transparent;
    top: -9px;
}
/*****************welcome-section*********************/
.position-raltive{
	position:relative;
}
.we-offer{
	position: relative;
    background-position: top;
    background-color: #f6f6f6;
    top: -9px;
}
.we-offer::after{
	content: ' ';
    background-image: url(../images/p-2.png);
    height: 16px;
    position: absolute;
    top: -16px;
    z-index: 2;
    left: 0px;
    width: 100%;
}
.orange-circle-image{
	position:absolute;
	right:0px;
	top:0px;
	
}
.we-offer .text-box{
	position:relative;
	z-index:1;
	background-color:#fff;
	padding:50px;
	    padding-left: 150px;
}
.we-offer-girl-image{
	position:absolute;
	left:0px;
	z-index:2;
}
/***************************************************How we work*********************/
.how-we-work-box{
	text-align:center;
	position:relative;
	z-index:10
}
.how-we-work-box h3{
	font-size: 25px;
    color: #282828;
    font-weight: 500;
    line-height: 35px;
    margin-top: 20px;
}
.bg-curve{
	background-image: url(../images/bg-shape.jpg);
    background-repeat: no-repeat;
    background-position: 99px -1px;
    background-size: 1030px;
}
/***************************************************How we work*********************/
.how-we-work-box{
	text-align:center;
	position:relative;
}
.how-we-work-box h3{
	font-size: 25px;
    color: #282828;
    font-weight: 500;
    line-height: 35px;
    margin-top: 20px;
}
.bg-curve{
	background-image: url(../images/bg-shape.jpg);
    background-repeat: no-repeat;
    background-position: 99px -1px;
    background-size: 1030px;
}

.mySlides {display: none}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 31px;
  width: 31px;
  margin: 0 8px;
  background-image:url(../images/dot.png);
  position:relative;
display:inline-block;
}
.dot.active, .dot:hover {
   background-image:url(../images/active-dot.png);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.testmonial-slider
{
	position: relative;
    margin-top: 100px;
}
.client-image{
	    position: absolute;
    width: 310px;
    height: 343px;
    background-size: cover;
    background-position: center center;
    left: 20px;
    top: -30px;
}
.testmonial-content{
	    background-color: #fff;
    padding: 30px;
    padding-left: 370px;
    min-height: 280px;
	box-shadow:0px 0px 8px #ccc;
	background-image:url(../images/qu.png);
	background-position:right 30px;
	background-repeat:no-repeat;
	
}
.testmonial-content h3{
	font-size: 25px;
    color: #282828;
    font-weight: 500;
    line-height: 35px;
}
.testmonial-content h4{
	font-size: 18px;
    color: #282828;
    font-weight: 400;
    line-height: 28px;
	margin-bottom:20px;
}
.testmonial-content p
{
	color:#888888;
	font-size: 16px;
}
.dot-container{
	text-align:center;
	margin-top:50px;
}
/***************************Footer*************************************/
.footer{
	background-color:#282828;
	padding:55px 0px 30px 0px;
	margin-top: -9px;
	display:block;
}
.footer h3{
	font-size: 20px;
    color: #ff7901;
    font-weight: 500;
    line-height: 30px;
	margin-bottom:15px;
}
ul.contact-list{
	list-style:none;
	display:block;
	
	display:block;
	font-size: 14px;
    color: #a1a1a1;
    font-weight: 500;
}
ul.contact-list li{
	display:block;
	margin-bottom:15px;
	background-repeat:no-repeat;
	line-height:24px;
	padding-left:35px;
}
li.address{
	background-image:url(../images/loaction.png);
	background-position:0px 0px;
}
li.mobile{
	background-image:url(../images/mobile.png);
	background-position:0px -7px;
}
li.email{
	background-image:url(../images/message.png);
	background-position:0px 0px;
}
ul.footer-menu{
	    display: block;
    list-style: none;
    margin: 20px auto;
    max-width: 699px;
}
ul.footer-menu li{
	display:inline-block;
	padding:8px 15px;
}
ul.footer-menu li  a{
	font-size: 16px;
    color: #fff;
	text-decoration:none;
    font-weight: 400;
}
ul.footer-social-media{
	display:block;
	list-style:none;
	margin-top:34px;

}
ul.footer-social-media li{
	display:inline-block;
	padding:0px 15px;
}
ul.footer-social-media li  a{
	font-size: 16px;
    color: #fff;
	text-decoration:none;
    font-weight: 400;
	border:1px solid #fff;
	display:block;
	text-align:center;
	padding:15px;
}
ul.footer-social-media li  a:hover{
	border:1px solid #ff7901;
	background-color:#ff7901;
}
.footer-bottom{
	background-color:#3c3c3c;
	text-align:center;
	padding:8px 0px;
}
.footer-bottom p{
	font-size: 15px;
    color: #fff;
	font-weight: 400;
}
.footer-bottom p strong{
	color:#c36613;
	font-weight:300;
	font:16px;
}
	.delivery-boy-right {
  position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 370px;
}
.delivery-boy-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width:370px;
}
/***************************Parent-Student-Registration************************/
.Parent-Student-Registration{
	background-color:#d6e5e5;
}
.form-area{
	background-color:#fff;
	border-radius:8px;
	padding:40px;
}
.form-area li{
	list-style:none;
}
.switch-link ul{
	display:block;
	text-align:center;
}
.switch-link ul li{
	display:inline-block;
}
.switch-link ul li a{
	text-decoration:none;
	font-size:18px;
	color:#003366;
	outline:0;
	border:0;
	background-color:#f0e9e9;
	text-align:center;
	display:block;
	padding:15px 20px;
	border-radius:5px;
	margin:0px 8px;
	font-family: 'Roboto', sans-serif;
}
.switch-link ul li a.active,.switch-link ul li a:hover{
	background-color:#003366;
	color:#fff;
}
h3.form-heading{
	font-family: 'Roboto', sans-serif;
	font-size:40px;
	color:#003366;
	font-weight:500;
	text-align:center;
	margin:20px 0px;
}
.payment-tab ul{
	display:block;
	text-align:center;
}
.payment-tab ul li{
	display:inline-block;
	font-size:18px;
	color:#555555;
	font-weight:400;
	margin:0px 8px;
}
.payment-tab ul li.active{
	color:#003366;
	text-decoration:underline;
}
.form-field-area {
	margin-top:30px;
}
.form-field-area h3{
	background-color:#d6e6e6;
	font-size:30px;
	color:#003366;
	font-weight:500;
	padding:5px 20px;
	margin-bottom:20px;
	display:block;
}
label{
	display:block;
	font-size:18px;
	color:#555555;
	font-weight:400;
	margin-bottom:5px;
	font-family: 'Roboto', sans-serif;
}
input,select,textarea{
	display:block;
	width:100%;
	box-sizing:border-box;
	outline:0;
	border:1px solid #cccccc;
	height:50px;
	padding:0px 15px;
	font-size:18px;
	border-radius:8px;
}
input:focus,select:focus,textarea:focus{
	box-shadow:0px 0px 5px rgba(0, 51, 102, .5);
	border:1px solid #cccccc;
}
textarea{
	height:120px;
	
}
.child-login-details{
	background-color:#fff;
	margin-top:30px;
	border-radius:8px;
	padding:30px 15px;
	position:relative;
}
.child-login-details h3{
	font-size: 30px;
    color: #003366;
    font-weight: 500;
	margin-bottom:20px;
}
button.add-school
{
	 text-decoration: none;
    font-size: 18px;
    color: #fff;
    outline: 0;
    border: 0;
    background-color: #003366;
    text-align: center;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 0px 8px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 15px;
    top: 23px;
    height: auto;
}
.child-login-details table
{
	border-spacing: 15px;
	min-width:1100px;
}
.child-login-details th{
	font-size: 18px;
    color: #555555;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom:5px;
	text-align:left
}
.child-login-details input,.child-login-details select{
	margin-bottom:0px;
}
.child-login-details tr th:nth-child(2),.child-login-details tr th:nth-child(3),.child-login-details tr td:nth-child(2),.child-login-details tr td:nth-child(3){
	min-width:211px;
}
.form-heading-2
{
	background-color: #d6e6e6;
    font-size: 30px;
    color: #003366;
    font-weight: 500;
    padding: 5px 20px;
    margin-bottom: 20px;
    display: block;
	margin-top:20px;
}
.custom-checkbox{
	display:inline-block;
	margin-top: 30px;
}
.checkmarkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmarkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmarkcontainer input:focus{
	box-shadow:0px 0px 0px rgba(0, 51, 102, .5) !important;
	border:0px solid #cccccc !important;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:25px;
  width: 25px;
  background-color: #fff;
  border:1px solid #707070; 
}

.checkmarkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmarkcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
  border:1px solid #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmarkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Parent-Student-Registration .btn-blue{
	    min-width: 250px;
		margin-top:15px;
}
table.table-border{
	    border-collapse: collapse;
	    border-spacing: 0px;
		padding:0px;
		font-size:13px;
		min-width:1100px;
}
table.table-border thead{
	background-color:#f4f5f7;
}
table.table-border th,table.table-border td {
   border:1px solid #dadada;
  padding: 14px 8px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
table.table-border td i{
	color:#fff;
}
table.table-border tbody tr{
	position:relative;
}
table.table-border tbody tr i{
	color:#f79037;
}
table.table-border td {
	 padding: 0px 0px;
}
table.table-border input,table.table-border select{
	border: 0px !important;
    height: 40px;
    font-size: 16px;
    padding: 0px 8px;
}
table.table-border input:focus,table.table-border select:focus{
	box-shadow:none !important;
	border:0px !important;
}

table.table-border tr th:nth-child(1),table.table-border tr td:nth-child(1){
	width:80px;
	text-align:center;
}

.bg-parent{
	background-image:url(../images/parent.png);
	background-repeat:no-repeat;
	background-position:50px center;
}
.bg-parent-2{
	background-image:url(../images/parent.png);
	background-repeat:no-repeat;
	background-position:50px 15%;
}
.bg-milk{
	background-image:url(../images/bg-f.png);
	background-repeat:no-repeat;
	background-position:left top;
}

.Parent-Student-Registration .iti{
	display: block !important;
}












@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 1600px) {
.delivery-boy-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 280px;
}
.delivery-boy-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 280px;
}
}
@media only screen and (max-width: 1360px) {
.delivery-boy-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 199px;
}
.delivery-boy-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 199px;
}
}
@media only screen and (max-width: 1200px) {
 .row{
	 margin:0px;
 }
 .logo-area, .menu-area{
	 padding:10px 15px; 
 }
 .banner-left, .banner-right{
	 padding:15px;
 }
 .banner-right {
    transform: scale(1);
}
.bg-curve{
	background-image:none;
}
.menu-area{
	 display: none;
    position: absolute;
    width: 100%;
    background-color: #FFF;
    top: 62px;
 }
 .menu-area ul li{
	 display:block;
	 padding:5px 0px;
 }
 .menu-area ul ul{
	 display:block;
	 position:relative;
	 top:inherit;
	 width:auto;
	 box-shadow:none;
 }
 .toggle-menu{
	 display:inline-block;
 }
}
@media only screen and (max-width:1024px) {
 
.delivery-boy-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 129px;
}
.delivery-boy-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 129px;
}
}
@media only screen and (max-width: 769px) {
 
 .top-header .col-6{
	 width:50%;
 }
 .home-page-bannner {
    background-color: #f6f6f6;
    display: block;
    padding: 0px 0px;
}
.banner-left h3 {
    font-size: 24px;
    line-height: 31px;
}
.section-padding {
    padding: 50px 0px;
}
.section-padding-top {
    padding-top: 50px;
}
.section-padding-bottom {
    padding-top: 50px;
}
.section-heading h3 {
    font-size: 35px;
    line-height: 45px;
}
.text-box h3 {
    font-size: 25px;
    line-height: 35px;
}
.orange-circle-image{
	display:none;
}
.we-offer-girl-image {
    position: relative;
    left: 0px;
    z-index: 2;
    margin: 0 auto;
    display: block;
}
.we-offer .text-box {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 20px;
    padding-left: 20px;
    margin-top: -70px;
}
.client-image {
    position: absolute;
    width: 190px;
    height: 223px;
    background-size: cover;
    background-position: center center;
    left: 20px;
    top: 25px;
}
.testmonial-content {
    background-color: #fff;
    padding: 30px;
    padding-left: 240px;
    min-height: 170px;
    box-shadow: 0px 0px 8px #ccc;
    background-image: url(../images/qu.png);
    background-position: right 30px;
    background-repeat: no-repeat;
}
.testmonial-slider {
    position: relative;
    margin-top: 40px;
}
ul.contact-list li {
    display: block;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    line-height: 31px;
    padding-left: 35px;
}
.logo-area{
	max-width:200px;
}
.toggle-menu{
	top:9px;
}
.how-we-work-box{
	margin-bottom:30px;
}
}
@media only screen and (max-width: 600px) {
	.banner-left, .banner-right{
		width:100%;
		text-align:center;
		display:block;
		max-width:100%;
	}
	.banner-left h3 {
    
    border-left: 0px solid #ff7901;
	border-bottom: 6px solid #ff7901;
   
}
.banner-left h3::after {
    content: ' ';
    position: absolute;
    width: 80%;
    height:6px;
    left: 10%;
    top: inherit;
	bottom:-6px;
    z-index: 1;
    background-color: #003466;
}
.top-header p {
    color: #fff;
    font-size: 12px;
}
ul.top-social-media {
    display: block;
    text-align: right;
    list-style: none;
    position: relative;
    top: -2px;
}
.top-header .col-6:first-child {
    width: 40%;
}
.top-header .col-6:last-child {
    width: 60%;
}
ul.top-social-media li span {
    position: relative;
    display: block;
    transition: transform .3s;
    transform: scale(0.8);
}
ul.top-social-media li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
}
ul.footer-social-media li {
    display: inline-block;
    padding: 0px 3px;
}
.client-image {
    position: relative;
    width: 150px;
    height: 163px;
    background-size: cover;
    background-position: center center;
    left: inherit;
    top: inherit;
    margin: -20px auto;
}
.testmonial-content {
    background-color: #fff;
    padding: 30px;
    padding-left: 30px;
    min-height: 170px;
    box-shadow: 0px 0px 8px #ccc;
    background-image: url(../images/qu.png);
    background-position: right 30px;
    background-repeat: no-repeat;
}
.orange-petten-left-top {
    background-image: url(../images/orange-petten.png);
    background-repeat: no-repeat;
    background-position: left 110px;
    background-size: 60px;
}
.orange-petten-right-top {
    background-image: url(../images/orange-petten.png);
    background-repeat: no-repeat;
    background-position: right 110px;
	 background-size: 60px;
}
.orange-blue-left-top {
    background-image: url(../images/blue-petten.png);
     background-repeat: no-repeat;
    background-position: left 110px;
    background-size: 60px;
}
.delivery-boy-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width:87px;
}
.delivery-boy-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 87px;
}
h3.form-heading{
	font-size:30px;
}
.form-field-area h3,.form-field-area h3,.child-login-details h3{
	font-size:20px;
}
button.add-school {
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    outline: 0;
    border: 0;
    background-color: #003366;
    text-align: center;
    display: block;
    padding: 9px 11px;
    border-radius: 5px;
    margin: 0px 8px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 15px;
    top: 23px;
}
.form-area {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 15px;
}
}
.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem !important;
    font-size: 80%;
    color: #f46a6a;
    font-weight: bold;
}

.is-invalid {
    border-color: #f46a6a !important;
    background-color: #ff868633 !important;
}

.form-main-div {
	margin-bottom: 20px !important;
}

.alert{
	color: #ffffff;
	margin-bottom: 3px;
	border-radius: 0px;
	text-transform: uppercase !important;
	padding:5px 10px;
}
.alert-danger{
	background: #f6643b;
	border: #fd3800 solid 1px;
}
.alert-success{
    background: #16ca88;
    border: #18bc80 solid 1px;
}
.p-r-0{
	padding-right: 0px;
}
.p-l-0{
	padding-left: 0px;
}
.cnoutry_code{
    border-radius: 8px 0px 0px 8px;
    border-right: none;
}
.area_code{
    border-radius: 0px;
    border-right: none;
}
.contact_number{
	    border-radius: 0px 8px 8px 0px;
}

.loading_bg,
.loading_popup {
    position: fixed;
    z-index: 100000;
    background-color: rgba(0, 0, 0, .4)
}
.loading_bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
.loading_popup {
    top: 45%;
    left: 49%;
    margin-top: -50px;
    margin-left: -150px;
    width: 25%;
    height: 150px;
    background: #ffffff;
    border: #6989f5 solid 5px;
    padding: 15px;
    box-shadow: 5px 5px 10px #333;
    text-align: center;
}
.loading_text{
	font-size: 14px;
    color: #000000;
    padding-top: 15px;
}

.d-none{
    display: none;
}