body {
	background: #f3f4f6;
	color: #37474f;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 1.47;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

@media screen and (max-width: 768px) {
	body {
		padding-left: 0;
	}
}

body,
input,
select,
textarea {
	-webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

a {
	-webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	cursor: pointer;
	color: #37474f;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none !important;
	outline: none !important;
}

a:active,
a:focus {
	outline: none !important;
	text-decoration: none !important;
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

p {
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.025em;
}

p:last-child {
	margin-bottom: 0;
}

p a {
	padding-bottom: 2px;
	border-bottom: 1px dashed #76838f;
}

abbr[title] {
	border-bottom: none !important;
	cursor: inherit !important;
	text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.27;
	letter-spacing: 0.025em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: inherit;
	text-decoration: none;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
	color: inherit;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
	color: #2962ff;
}

h1.add-line,
h2.add-line,
h3.add-line,
h4.add-line,
h5.add-line {
	position: relative;
	padding-bottom: 1.5rem;
}

h1.add-line:after,
h2.add-line:after,
h3.add-line:after,
h4.add-line:after,
h5.add-line:after {
	display: block;
	position: absolute;
	content: " ";
	bottom: 0.5rem;
	height: 3px;
	width: 75px;
	background: #37474f;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

h1.add-line.secondary-line:after,
h2.add-line.secondary-line:after,
h3.add-line.secondary-line:after,
h4.add-line.secondary-line:after,
h5.add-line.secondary-line:after {
	background: #d93025;
}

h1.add-line.primary-line:after,
h2.add-line.primary-line:after,
h3.add-line.primary-line:after,
h4.add-line.primary-line:after,
h5.add-line.primary-line:after {
	background: #2962ff;
}

small {
	font-size: 85%;
}

figure {
	display: block;
	border: 1px solid #e5f5fe;
	padding: 0.75rem 0.75rem 0;
	text-align: center;
	margin-bottom: 2rem;
}

figure img {
	max-width: 100%;
}

figure figcaption {
	display: block;
	padding: 0.25rem 0.75rem;
	font-size: 85%;
	font-style: italic;
	color: #4c626d;
}

section {
	position: relative;
}

section.text-center div[class*='col-']:first-child:last-child {
	margin: 0 auto;
	float: none;
}

main {
	padding-top: 70px;
	min-height: 100vh;
}

pre {
	background-color: #f5f7fa;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 25px;
	font-size: 13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

pre code {
	color: #dd6777;
}

 :not(p) code {
	color: inherit;
}

label {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.form-control:focus {
	box-shadow: none;
}

input {
	font-family: 'robotolight';
	font-weight: 300;
	font-size: 13px;
	color: #000000;
}

input::placeholder {
	color: #000000;
}

input:focus {
	border: 1px solid #ced4da !important;
	outline: none;
}

select:focus {
	border: 1px solid #ced4da !important;
	outline: none;
	font-family: 'poppinslight';
	font-weight: 300;
	color: #000000;
	font-size: 13px;
}

button:focus {
	outline: none;
}

select {
	font-family: 'poppinslight';
	font-weight: 300;
	color: #000000;
	font-size: 13px;
}

@font-face {
	font-family: 'birds_of_paradise__personalRg';
	src: url('../fonts/birds_of_paradise__personal_use_only-webfont.woff2') format('woff2'), url('../fonts/birds_of_paradise__personal_use_only-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsregular';
	src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'), url('../fonts/poppins-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsmedium';
	src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'), url('../fonts/poppins-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinslight';
	src: url('../fonts/poppins-light-webfont.woff2') format('woff2'), url('../fonts/poppins-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium';
	src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.logo-full {
	font-family: 'birds_of_paradise__personalRg';
}
#sidebarCookie .fa{
	width: 25px !important;
	text-align: left !important;
}
.tag_line {
	color: #ffff;
	font-family: "robotoregular";
	font-weight: 400;
	font-style: normal;
	font-size: 9px;
}

.page-title {
	font-size: 18px;
	color: #003366;
	font-family: "poppinsmedium";
	font-weight: 500;
	font-style: normal;
}

.card-commission-section {
	background-color: #ffff;
	border-radius: 5px;
	padding: 12px 25px;
	margin-bottom: 29px;
}

.card-commission-section label {
	font-family: "poppinslight";
	font-weight: 300;
	font-style: normal;
	font-size: 13px;
	color: #111111;
	padding-bottom: 5px;
}

.commssions-table-details table {
	margin-top: 10px;
	font-family: 'poppinsregular';
}

.commssions-table-details table tr th {
	font-weight: 500;
	background-color: #f4f5f7;
	font-size: 14px;
	color: #000000;
	padding: 5px 12px;
	font-family: 'poppinsmedium';
}

.commssions-table-details table tr td {
	border-bottom: 1px solid #d7d7d7;
	padding: 5px 12px;
	font-size: 13px;
	color: #000000;
}

.detail_btn a {
	background-color: #ff0000;
	padding: 0px 6px;
	color: #fff;
	border-radius: 50px;
	font-family: 'robotoregular';
	font-weight: 400;
	font-size: 13px;
}

.pagination li span {
	display: block;
	border: 1px solid transparent;
	color: #000000;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 23px;
	    padding: 0;
}

.pagination li:hover span {
	border-color: #003366;
	background-color: #003366;
	color: #fff;
}

.pagination li.active span {
	border-color: #2962ff;
	background: #2962ff;
	color: white;
}
.pagination li a {
	display: block;
	border: 1px solid transparent;
	color: #000000;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 23px;
	    padding: 0;
}
.pagination li:hover a {
	border-color: #003366;
	background-color: #003366;
	color: #fff;
}

.pagination li.active a {
	border-color: #2962ff;
	background: #2962ff;
	color: white;
}
.pagination .page-item:last-child .page-link { 
    border-radius: 50%;
}
.pagination .page-item:first-child .page-link { 
    border-radius: 50%;
}
.pagination {
	text-align: right;
	padding: 10px 0px 0px;
}
.pagination .page-item.active .page-link {  
    background-color: #003366;
    border-color: #003366;
}
.pagination ul li {
	list-style: none;
	display: inline-block;
	font-family: 'robotoregular';
	font-weight: 400;
	color: #000000;
	font-size: 18px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	border-radius: 100%;
	margin: 0px 8px 0px 0px;
}

.pagination nav{
	margin-left: auto;
}

.card-commission-section input {
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 7px 12px;
	position: relative;
}

.first-block i {
	position: absolute;
	top: 0px;
	right: 0px;
	top: 56%;
	right: 30px;
}

.my-credits-section .first-block i {
	top: 45%;
}

.manage-order-sec .first-block i {
	top: 45%;
}

.card-commission-section select {
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 7px 12px;
}

.card-commission-section select option {
	padding: 10px 0px;
}

.form-btns ul li {
	display: inline-block;
}

.form-btns ul li button {
	background-color: #003366;
	border: 1px solid #003366;
	border-radius: 4px;
	color: #fff;
	width: 120px;
	margin-right: 4px;
	padding: 6px 0px;
	font-family: 'poppinsregular';
	cursor: pointer;
}

.form-btns ul li button:focus {
	outline: none;
}

.form-btns ul li button:hover {
	background-color: #154c83;
	border: 1px solid #154c83;
}

.form-btns {
	padding-left: 9px;
	padding-top: 23px;
}

.user-profile-details {
	padding: 4px 0px 0px;
	margin-left: 23px;
}

.user-profile-details h5 {
	font-family: 'robotomedium';
	font-weight: 500;
	text-align: left;
	font-size: 16px;
	color: #ffffff;
}

.user-profile-section {
	padding: 10px 0px;
}

.user-profile-details p {
	line-height: 0px;
	font-family: 'robotoregular';
	font-weight: 400;
	text-align: left;
	font-size: 16px;
}

.user-img {
	line-height: 0px;
	margin-right: -23px;
}


/*My Account Page CSS*/

.account-form {
	padding-bottom: 10px;
}

.account-form label {
	font-family: 'poppinsmedium';
	font-weight: 500;
}

.account-form input {
	font-family: 'poppinslight';
	font-weight: 300;
	color: #000000;
	font-size: 13px;
}

.account-form select {
	font-family: 'poppinslight';
	font-weight: 300;
	color: #000000;
	font-size: 13px;
}

.update-btn button {
	background-color: #003366;
	border: 1px #003366 solid;
	color: #ffffff;
	font-family: 'poppinsregular';
	font-weight: 400;
	border-radius: 4px;
	width: 120px;
	height: 32px;
}

.update-btn button:hover {
	background-color: #154c83;
	border: 1px solid #154c83;
}

.sidebar-closed .logo a {
	line-height: 6px;
}

.sidebar-closed .sidebar .logo {
	padding: 13px 0px 13px 9px;
}

.sidebar-closed:not(.horizontal) .sidebar .logo a:not(:hover) {
	line-height: 6px;
}

.sidebar-closed .sidebar .logo a {
	display: none;
}

.sidebar-open .sidebar-close-icon h4 {
	display: none;
	color: #ffffff !important;
}

.sidebar-closed .sidebar-close-icon h4 {
	color: #ffffff !important;
	display: block;
	padding-left: 11px;
}


/*Parent List Page CSS*/

.block-btn {
	font-family: 'robotoregular';
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
	background-color: #ff0000;
	border: 1px #ff0000 solid;
	border-radius: 50px;
	padding: 0px 8px;
	cursor: pointer;
}

.parent-list-table .detail_btn a {
	font-family: 'robotoregular';
	font-weight: 400;
	font-size: 13px;
	color: #ffffff;
	background-color: #003366;
	border: 1px solid #003366;
}

.parent-list-table .detail_btn a:hover {
	color: #ffffff;
}

.active-btn {
	font-family: 'robotoregular';
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
	background-color: #618b32;
	border: 1px #618b32 solid;
	border-radius: 50px;
	padding: 0px 8px;
	cursor: pointer;
}

.primary-btn {
	font-family: 'robotoregular';
	font-size: 13px;
	color: #ffffff;
	font-weight: 400;
	background-color: #4ca0e3;
	border: 1px #4ca0e3 solid;
	border-radius: 50px;
	padding: 0px 8px;
	cursor: pointer;
}


/*Parent Details Page CSS*/

.parent-details-section {
	font-size: 18px;
	color: #262626;
	font-family: 'robotoregular';
}

.parent-details-section h4,
h5 {
	font-size: 18px;
	font-weight: 400;
	color: #262626;
	font-family: 'robotoregular';
}

.parent-details-section h4 {
	font-weight: 500;
	font-family: 'robotomedium';
}

.parent-details-table tr {
	border-bottom: 1px #acacac solid;
	height: 50px;
	font-family: 'robotoregular';
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

.child-details-table tr th {
	font-family: 'poppinsregular';
}

.child-details-table tr th {
	background-color: #f4f5f7;
	padding: 5px 12px;
	font-size: 14px;
}

.child-details-table tr td {
	padding: 6px 12px;
	font-weight: 400;
	color: #242323;
	border-bottom: 1px #acacac solid;
	font-size: 13px;
}

.back-btn button {
	background-color: #003366;
	border: 1px solid #003366;
	border-radius: 4px;
	color: #fff;
	width: 120px;
	margin-right: 4px;
	padding: 6px 0px;
	font-family: 'poppinsregular';
	cursor: pointer;
	margin: 50px 0px 40px;
}


/*Mange Milk Bar Page CSS*/

.add-btn button {
	font-family: 'robotoregular';
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	background-color: #003366;
	border: 1px #003366 solid;
	border-radius: 4px;
	width: 120px;
	margin-top: 23px;
	padding: 7px 0px;
	cursor: pointer;
}

.add-btn button:hover {
	background-color: #154c83;
	border: 1px solid #154c83;
}

.action-btns ul li {
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	padding: 0px 2px;
}

.action-btns ul li .fa-eye {
	color: #15799a;
}

.action-btns ul li .fa-edit {
	color: #88ea88;
}

.action-btns ul li .fa-trash {
	color: #ff0000;
}


/*Add Milk Bar Page CSS*/

.pluse-btn {
	width: 38px;
	height: 38px;
	border-radius: 100%;
	border: 2px solid #003366;
	padding: 5px 5px;
	margin: 24px 0px 0px;
}

.pluse-btn i {
	color: #003366;
}

.delete-btn i {
	color: #fd003c;
	margin: 24px 0px 0px;
	font-size: 35px;
}

.services-btns ul li {
	display: inline-block;
	padding: 0px 10px;
}

.school-service-table table tr th {
	background-color: #f4f5f7;
	border: 1px solid #b7b7b7;
	text-align: center;
	font-family: 'poppinsmedium';
	font-weight: 500;
	font-size: 13px;
	color: #111111;
	padding: 10px 15px;
	text-align: left;
}

.school-service-table table tr td {
	border: 1px solid #b7b7b7;
	text-align: center;
	font-family: 'poppinslight';
	font-weight: 300;
	color: #000000;
	font-size: 13px;
}

.school-service-table table tr td select {
	border: 0px;
	font-size: 13px;
	border-radius: 0px;
	width: 135px;
}

.school-service-table table tr td select:focus {
	border: 0px !important;
	outline: none;
	border-radius: 0px;
}

.school-service-table table tr td input {
	border: 0px;
	border-radius: 0px;
}

.school-service-table table tr td input:focus {
	border: 0px !important;
	outline: none;
}


/*.selected {
    color: red;
    background-color: #f6770a;
    border: 1px solid #b7b7b7;
}*/

.selected td {
	border: 2px solid #f6770a !important;
	z-index: 9999;
}

.fa-star {
	color: #f6770a;
}

select.form-control:not([size]):not([multiple]) {
	height: unset !important;
}

.order-col {
	width: 82px;
	text-align: right;
	padding-right: 16px !important;
}

.order-amoutnt {
	width: 175px;
	text-align: right;
	padding-right: 26px !important;
}

.commission_-col {
	width: 160px;
	text-align: right;
	padding-right: 30px !important;
}


/*MY Credits Page CSS*/

.from-boxes {
	padding-bottom: 15px;
}

.my-form .form-btns {
	padding-top: 23px;
}

.transaction-col {
	width: 145px;
}

.transaction-col-td {
	padding-right: 20px !important;
}

.order-col-td {
	padding-right: 40px !important;
}

.credits-col-td {
	padding-right: 50px !important;
}

.debit-col-td {
	padding-right: 50px !important;
}


/*Manage Order Page CSS*/

.order-col-th-td {
	padding-right: 20px !important;
}

.order-amount-col-th {
	width: 125px;
}


/*Dashboard Page CSS*/

.welcome-box {
	border-radius: 0.176cm;
	background-color: #ffffff;
	border-radius: 5px;
}

.welcome-box1 {
	background-color: #ff7902;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 23px 0px;
}

.left-text-holder {
	float: left;
}

.right-img-holder {
	float: right;
}

.left-text-holder h4 {
	font-family: 'robotomedium';
	color: #ffffff;
	font-size: 18px !important;
}

.left-text-holder h5 {
	font-family: 'robotoregular';
	color: #ffffff;
	font-size: 16px !important;
}

.welcome-box2 {
	padding: 0px 27px 15px;
}



.student-lunch-img img {
	margin-top: -40px;
}

.heading-text h3 {
	color: #000000;
	font-size: 18px;
	font-family: 'robotomedium';
	padding: 10px 0px;
	margin-bottom: 0px;
}

.view_profile_btn {
	background-color: #556ee6;
	font-size: 15px;
	color: #ffffff;
	font-family: 'robotoregular';
	border-radius: 5px;
	padding: 7px 24px;
	width: 127px;
	height: 34px;
}

.view_profile_btn a {
	color: #ffffff;
}

.boxes_dash {
	border-radius: 5px;
    background-color: #ffffff;
    padding: 28px 10px;
    margin-bottom: 26px;
    width: 214px;
}

.total-div {
	float: left;
	width: 70%;
}

.total-div h5 {
	font-family: 'robotoregular';
    font-size: 13px;
    color: #555555;
    text-transform: uppercase;
}

.total-div p {
	font-family: 'robotomedium';
	font-size: 18px;
	color: #000000;
}

.icon-div {
	width: 50px;
	height: 50px;
	background-color: #556ee6;
	border-radius: 50px;
	float: right;
	text-align: center;
	padding: 15px;
}

.icon-div i {
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

.generate-report {
	margin: 30px 0px;
	padding: 23px 23px 40px;
	border-radius: 5px;
	background-color: #ffffff;
}
.generate-report2 ul li{
    margin-right: 25px !important; 
}
.generate-report h4 {
	font-family: 'robotomedium';
	color: #262626;
	font-size: 18px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}


/*Radio Button Style*/

.generate-report ul li {
	color: #AAAAAA;
	display: inline-block;
	position: relative;
    margin-right: 3px;
}

.generate-report ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.generate-report ul li label {
	display: block;
	position: relative;
	font-weight: 400;
	font-family: 'robotoregular';
	font-size: 18px;
	padding: 0px 0px 0px 28px;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	color: #555555;
}

.generate-report ul li .check {
	display: block;
	position: absolute;
	border: 1px solid #555555;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	top: 4px;
	left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.generate-report ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 12px;
	width: 12px;
	top: 2.5px;
	left: 3px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.generate-report input[type=radio]:checked~.check {
	border: 1px solid #fe7900;
}

.generate-report input[type=radio]:checked~.check::before {
	background: #fe7900;
}

.generate-report input[type=radio]:checked~label {
	color: #fe7900;
}

.generate-report form {
	padding-top: 40px;
}

.generate-report form .form-group {
	float: left;
}

.generate-report form label {
	width: 100%;
	font-family: "poppinslight";
	font-weight: 300;
	font-style: normal;
	font-size: 13px;
	color: #111111;
	padding-bottom: 5px;
}

.generate-report form input {
	width: 90%;
	position: relative;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 7px 12px;
}

.generate-report form i {
	position: absolute;
	right: 38px;
	top: 37px;
}

.generate-report form select {
	width: 84%;
	position: relative;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 7px 12px;
}

.generate-report .form-btns ul li button {
	width: 156px;
}

.colors ul li {
	display: inline-block;
	padding-right: 13px;
}

.colors ul li .color_box1 {
	width: 19px;
	height: 19px;
	background-color: #42adfe;
	float: left;
	margin-top: 3px;
	margin-right: 6px;
}

.colors-text {
	float: left;
}

.colors ul {
	padding: 20px 0px 0px;
}

.colors ul li p {
	font-family: 'robotoregular';
	color: #000000;
	font-size: 13px;
	padding: 4px 0px;
}

.color_box2 {
	background-color: #f89900 !important;
}

.color_box3 {
	background-color: #294986 !important;
}

.color_box4 {
	background-color: #e6231e !important;
}

.color_box5 {
	background-color: #3d64a3 !important;
}

.Ellipse_1 {
  border-style: solid;
  border-width: 0.17638888888889cm;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 243, 243, 249 );
  position: absolute;
  left: 12.594cm;
  top: 9.349cm;
  width: 3.316cm;
  height: 3.281cm;
  z-index: 40;
}

.p-l-15{
	padding-left: 15px !important;
	padding-right: 0px !important;
}

.p-r-15{
	padding-right: 15px !important;
	padding-left: 0px !important;
}
.p-0{
	padding: 0px !important;
}
.is-invalid{
	border-color: #dc3545 !important;
    background: #ffebea !important;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem !important;
    font-size: 80%;
    color: #f46a6a;
    font-weight: bold;
}
.modal-header h4{
	font-size: 16px !important;
    line-height: 0px !important;
    margin: 5px 0px !important;
}

#ItemModel .days-div ul li {
	display: inline-block;
	padding: 0px 7px 0px 0px;
}

#ItemModel .days-div ul li input[type=checkbox]+label {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}

#ItemModel .days-div ul li input[type=checkbox] {
	display: none;
}

#ItemModel .days-div ul li input[type=checkbox]+label:before {
	content: "\2714";
	border: 0.1em solid #000;
	display: inline-block;
	width: 1.45em;
	height: 1.50em;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	margin-right: 0.5em;
	vertical-align: bottom;
	color: transparent;
	transition: .2s;
}

#ItemModel .days-div ul li input[type=checkbox]+label:active:before {
	transform: scale(0);
}

#ItemModel .days-div ul li input[type=checkbox]:checked+label:before {
	background-color: #ff0000;
	border-color: #ff0000;
	color: #fff;
}

#ItemModel .days-div ul li input[type=checkbox]:disabled+label:before {
	transform: scale(1);
	border-color: #aaa;
}

#ItemModel .days-div ul li input[type=checkbox]:checked:disabled+label:before {
	transform: scale(1);
	background-color: #bfb;
	border-color: #bfb;
}

.table-responsive{
	overflow: hidden !important;
}

.order-total {
    background-color: #f6f6f6;
    width: 310px;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding: 17px 0px;
    color: #ff7801;
    font-family: 'robotoregular';
    font-size: 18px;
    border: 1px dashed #cccccc;
}

#field1 .add {
    width: 19px;
    height: 21px;
    border-radius: 1px;
    background-color: #ff8f42;
    border: 1px #ff8f42 solid;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#field1 .sub {
    width: 19px;
    height: 21px;
    border-radius: 1px;
    background-color: #ff8f42;
    border: 1px #ff8f42 solid;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.lItemQty{
	width: 50px;
    height: 24px;
    border: none !important;
    text-align: center;
    font-weight: 500;
}